<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"> 
    <title>Ductour</title>
  </head>
<body style="font-family: 'Roboto', sans-serif;background:#fff;color:#000;max-width:600px;padding: 0;margin: 0px;width: 100%;">
		<section style="border: 1px solid;">
			<h2 style="padding: 15px 10px;margin: 0px;text-transform: uppercase;font-size: 21px;color: #fff;text-align: center;background: #ed1f7b;margin-bottom: 3px;"> Privacy Policy</h2>
			<!-- <img src="mm.png" style="width: 100%;margin: 10px 0px;"> -->
			<!-- <h2 style="padding: 15px 10px 10px;margin: 0px;text-transform: uppercase;font-size: 17px;color: #ed1f7b;"> Lora dsfsdafs df sdfsd fsadf sdf sdaf dsfsd fsdafsadfsm Ipsum dummy text hrere</h2> -->
			<p style="margin: 0px;padding: 0px 10px;color: #9e9e9e;line-height: 25px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.--------Privacy</p>
			
			
			
		</section>




</body>
</html>